html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.search-form__button {
  width: auto;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
  text-align: center;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.pictures_list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-around;
}

.pictures_list img {
  display: block;
  width: 350px;
  height: 180px;
  object-fit: cover;
  transition: all 0.2s linear;
}

.pictures_list img:hover {
  transform: scale(1.02);
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}

